{% extends 'base.html.twig' %}

{% block body %}
    <h1> Bonjour à tous ! </h1>
    {{ form_start(form)}}
    {{ form_row(form.username, { 'label' : 'Votre nom d\'utilisateur...', 'attr' : { 'placeholder' : 'Nom d\'utilisateur...' }}) }}
    {{ form_row(form.email,  { 'label' : 'Votre email...', 'attr' : { 'placeholder' : 'Email...' }}) }}
    {{ form_row(form.password,  { 'label' : 'Votre mot de passe...', 'attr' : { 'placeholder' : 'Mot de passe...' }}) }}
    {{ form_row(form.confirm_password,  { 'label' : 'Confirmer votre mot de passe...', 'attr' : { 'placeholder' : 'Confirmer vot de passe...' }}) }}
   <button type="submit" class="btn btn-success">Inscription !</button>
    {{ form_end(form)}}
{% endblock %}